* {
  box-sizing: border-box;
}

body {
  margin: 0; /* Tricky: override browser default */
  padding: 68px 36px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 762px;
  padding: 4px;

  background-color: #EEEEEE;
  border-bottom: 1px solid #cccccc;
}

nav {
  position: absolute;
  right: 5px;
  top: 6px;
}

nav span {
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #AAAAAA;
  margin-right: 5px;
}

nav a {
  font-family: "Arial", sans-serif;
  text-decoration: none;
}

.gl-logo {
  display: inline-block;
  border-radius: 100%;
  background-color: white;
  border: 1px solid #cccccc;
  padding: 3px 5px 8px;
}

.gl-logo h1 {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 18px;
}

.search-section {
  margin-bottom: 30px;
}

.search-section input {
  font-size: 1.1em;
  font-weight: 500;
  line-height: 1.45;
  height: 2em;
  letter-spacing: -0.5px;
  border: 1px solid #DDDDDD;
  border-radius: 4px;
  padding: 0 3px 0 8px;
  width: 644px;
}

.search-section button {
  font-size: 1.1em;
  height: 2em;
  background-color: white;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}


/* Tricky */
.pages {
  font-family: "Arial", sans-serif;
  font-size: 0;
}

.pages-box {
  border: 1px solid #E0E0E0;
  display: inline-block;
  font-size: 15px; /* Tricky: ems don't work here !!!!! */
  padding: 5px 8px;
}

/* Tricky */
.pages-box + .pages-box {
  border-left-width: 0;
}

/* Tricky / students will often use too generic a css class name */
.pages-box-left-curved {
  border-radius: 10px 0 0 10px; /* 50% produces mismatched size of radius */
}

.pages-box-right-curved {
  border-radius: 0 10px 10px 0;
}

/* stare at the abyss, and the abyss stares back at you */

.row {
}


/* Tricky / bad idea long term, should be a class */
time {
  font-size: 0.7em;
  color: #808080;
}

/* Hide Craigslist accessibility stuff */
.screen-reader-text {
  font-size: 0;
}

/* Tricky / Interaction not obvious and not annotated, first :hover */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Tricky: That's not Times New Roman! */
.pl {
  font-family: "Bitstream Vera Serif","Times New Roman",serif;
}

/* Tricky: craigslist's actual CSS. note that row is a p tag, and this is a span class="p" INSIDE a p tag */
.row span.p {
  font-size: smaller; /* !@$% */
  color: orange; /* OK if all of them are orange.. */
  font-family: "Arial", sans-serif; /* Tricky: If you miss a sans-serif font-family on body you'll need it here */
}

/* Tricky: why an extra layer of nesting in html here? */
.row span.p .maptag {
  color: #080;
}
